body, ul, li {
  margin:0;
  padding:0;
  list-style:none;
}

a {
  color:inherit;
  text-decoration:none;
}

header {
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:99;
}
.con {
  width:100%;
  display: flex;
  justify-content: center;
}

.wrap {
  display:flex;
  width:1800px;
  align-items: center;
}

.logo{
  margin-left:25px;
}

.wrap > div:first-child {
  flex:1 1 0%;
}

.wrap > div:last-child {
  flex:1 1 0%;
  display: flex;
  padding:10px;
  justify-content: flex-end;
  border:3px solid blue;
}
*{
  box-sizing:border-box;
}

.imgslide {
  border: 3px solid red;
  padding:30px 0 0 40px;
  transition:0.3s;
}

.imgslide.first-slide-actived {
  padding:0;
}

.imgslide .swiper {
  width:100%;
  height:100vh;
  border:3px solid green;
  transition:0.3s;
  border-radius:50px 0 0 0;
}


.swiper_slide img:first-child {
  width:100%;
  height:100%;
  object-fit:cover;

}

.swiper_slide img:nth-child(2) {
  width:80%;
  height:80%;
  border-radius: 10px;
  object-fit:cover;

}

.swiper_slide img:last-child {
  width:80%;
  height:80%;
  object-fit:cover;

}

.banner_image {
  margin-right: 25px;
  white-space: nowrap;
  border: 3px solid red;
}

.phone_number {
  margin-right:25px;
}

.menu {
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 900px;
  margin: 0 20px;
  
}
.menu > li > a {
  display:block;
  padding:10px;
  border:3px solid red;   
}

.card_title > h5 > span {
  display:block;
}
.card_slide {
  display: flex;
}
.cards_menu {
  display:flex;
}

.service_des {
  display:block;
}
.service_title {
  display:flex;
}
.service_title > h2 > span {
  display:block;
}

.service_menu > ul {
  display:flex;
}

.service_menu  ul > li {
  text-align:center;
  
}

.service_menu  ul > li > a {
  display:block;
  padding:0 46px;
}

.swiper {
  width: 100%;
  height: 500px;
}
.swiper-slide img {
  width:100%;
  height:100%;
  object-fit: center;
}