*{
  box-sizing:border-box;
  font-size:16px;
  font-family: 'Noto Sans KR', sans-serif;
}

body, ul, li {
  margin:0;
  padding:0;
  list-style:none;
}

a {
  color:inherit;
  text-decoration:none;
}

.top {
  position:relative;
}

.top::before {
  position:absolute;
  top:0;
  left:0;
  width:28%;
  height:100%;
  background-color: #015152;
}

header {
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:99;
}

.con {
  width:100%;
  display: flex;
  justify-content: center;
  border:3px solid red;
}

.submenu{
  border: 3px solid blue;
  position: absolute;
}

.submenu>li{
  width:100px;
  height:40px;
  line-height: 40px;
  padding: 6px;
  display: flex;
  flex-direction: column;
  color:#ffffff;
  display: none;
  z-index: 1;
}
.wrap {
  display:flex;
  width:1800px;
  align-items: center;
  font-weight: bold;
  border: 3px solid blue;
}

.logo{
  white-space: nowrap;
  margin-left:25px;
  padding:10px;
}

.wrap > div:first-child {
  flex:1 1 0%; 
}

.wrap > div:last-child {
  flex:1 1 0%;
  display: flex;
  justify-content: flex-end;
}

.banner_image {
  display: flex;
  align-items: center;
}

.phone_number {
  display: flex;
  align-items: center;
  padding:10px;
}

.header::before {
  content: "";
    position: absolute;
    width: 28%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #015152;
    transition: 1s;
    border:3px solid red;
}
.imgslide {
  padding:45px 0 0 60px;
  transition:0.3s;
  border:3px solid blue;
}

.imgslide.first-slide-actived {
  padding:0;
}

.imgslide .swiper {
  min-width: 100%;
  height:100vh;
  border:3px solid green;
  transition:0.3s;
  border-radius:50px 0 0 0;
}

.imgslide.first-slide-actived .swiper {
  border-radius: 0;
  border:3px solid blue;
}

.banner_image {
  margin-right: 25px;
  white-space: nowrap;
}

.phone_number {
  margin-right:25px;
}

.menu {
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 900px;
  margin: 0 20px;
}
.menu > li > a {
  display:block;
  padding:10px;
}

.card_title > h5 > span {
  display:block;
}
.card_slide {
  display: flex;
  justify-content: center;
  /* height:480px; */
  /* border:3px solid red; */
}

.cards_menu img {
 display: block;
}

.cards_menu {
  display:flex;
}
.card_title {
  white-space: nowrap;
  background-color:#0E585A;
  color:#ffffff;
}
.service_des {
  display:block;
}
.service_title {
  display:flex;
}
.service_title > h2 > span {
  display:block;
}

.service_menu > ul {
  display:flex;
}

.service_menu  ul > li {
  text-align:center;
  
}

.service_menu  ul > li > a {
  display:block;
  padding:0 46px;
}

.swiper {
  width: 100%;
  height: 500px;
}
.swiper-slide img {
  width:100%;
  height:100%;
  object-fit: center;
}
.location {
  height:1000px;
  min-width:100%;
}
.location-img{
  display: block;
  height: 100%;
  background:url("https://www.prugio.com/ht/2022/anyang/web/img/main3-bg.jpg?ver=1") no-repeat;
  object-fit: cover;
  border: 3px solid red;
}

