body, ul, li {
  margin:0;
  padding:0;
  list-style:none;
}


a {
  color:inherit;
  text-decoration:none;
}
.wrap {
  display:flex;
}

.menu {
  display:flex;
}

.phone_number {
  display:flex;  
}
.card_title > h5 > span {
  display:block;
}
.card_slide {
  display: flex;
}
.cards_menu {
  display:flex;
}

.service_des {
  display:block;
}
.service_title {
  display:flex;
}
.service_title > h2 > span {
  display:block;
}

.service_menu > ul {
  display:flex;
}

.service_menu  ul > li {
  text-align:center;
  
}

.service_menu  ul > li > a {
  display:block;
  padding:0 46px;
}

.swiper {
  width: 100%;
  height: 300px;
}